@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

html {
	font-size: 16px;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
	background: rgb(238, 174, 202);
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
}

main {
	width: 800px;
	min-height: 100svh;
	padding: 1.5rem;

	h1,
	h2,
	h3 {
		text-align: center;
		margin-bottom: 1.5rem;
	}
}

form {
	background: rgb(242, 161, 46);
	background: linear-gradient(
		166deg,
		rgba(242, 161, 46, 0.8351934523809523) 23%,
		rgba(254, 95, 95, 1) 100%
	);
	border-radius: 1rem;
	padding: 1rem;

	fieldset {
		width: 100%;
		background: white;
		border-radius: 1rem;
		padding: 20px;
		border: none;
	}

	label {
		display: flex;
		width: 100%;
		gap: 1rem;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		&[for='birthplace'],
		&[for='deathplace'] {
			flex-direction: column;
		}
	}

	input[type='text'] {
		flex-grow: 1;
		height: 1.5rem;
		padding: 0 10px;
	}

	[type='submit'] {
		padding: 0.5rem 1rem;

		&:hover,
		&:focus-visible {
			cursor: pointer;
		}
	}
}
