@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Lato', sans-serif;
}

html {
	font-size: 16px;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
}

main {
	width: 800px;
	min-height: 100svh;
	background: rgb(238, 174, 202);
	background: radial-gradient(
		circle,
		rgba(238, 174, 202, 1) 0%,
		rgba(148, 187, 233, 1) 100%
	);
	padding: 20px;

	h1 {
		text-align: center;
	}
}
